.cImage {
  background: #b5664c;
}

.cImage:hover img {
  opacity: 0.5;
  transition: opacity 500ms;
  cursor: pointer;
}

.cImage p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: none;
  opacity: 1;
  z-index: 10;
}

.cImage:hover p {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cImage span {
  border-top: 1px solid white;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  display: inherit;
  opacity: inherit;
}

@media only screen and (max-width: 1700px) {
  .cImage p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1280px) {
  .cImage p {
    font-size: 14px;
  }
}
