@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
  font-family: 'Freeland';
  src: url('/fonts/freeland.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-display: swap;
}

.textcontainer {
  position: relative;
  width: 100%;
  height: inherit;
}

.textcontainer h3 {
  font-family: 'Freeland', cursive;
  font-size: 64px;
  color: white;
  position: absolute;
  display: block;
  top: 42%;
  left: 16%;
}

.button {
  position: absolute;
  display: block;
  font-family: 'Lato', sans-serif;
	margin: auto;
	border: 2px solid white;
  color: white;
  outline:0px;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  font-weight: normal;
  width: 200px;
  top: 53%;
  left: 19.5%;
}
.button2 {
  position: absolute;
  display: block;
  font-family: 'Lato', sans-serif;
	margin: auto;
	border: 2px solid white;
  color: white;
  outline:0px;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  font-weight: normal;
  width: 200px;
  top: 53%;
  left: 16.5%;
}
.button:hover, .button2:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.slideContainer {
  width: 100%;
  margin: auto;
  min-height: 837px;
}

.eachSlide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 800px;
}

.eachSlide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  .slideContainer {
    min-height: 737px;
  }
  .eachSlide > div {
    height: 700px;
  }
  .textcontainer h3 {
    font-size: 30px;
    left: 21%;
  }
  .textcontainer a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1340px) {
  .slideContainer {
    min-height: 637px;
  }
  .eachSlide > div {
    height: 600px;
  }
}
@media only screen and (max-width: 1240px) {
  .slideContainer {
    min-height: 537px;
  }
  .eachSlide > div {
    height: 500px;
  }
}
@media only screen and (max-width: 1140px) {
  .slideContainer {
    min-height: 437px;
  }
  .eachSlide > div {
    height: 400px;
  }
  .textcontainer h3 {
    left: 23%;
  }
}
@media only screen and (max-width: 720px) {
  .slideContainer {
    min-height: 287px;
  }
  .eachSlide > div {
    height: 250px;
  }
  .textcontainer h3 {
    font-size: 24px;
    left: 23%;
  }
  .textcontainer a {
    font-size: 12px;
  }
}
