.lbtxtContainer {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 350px;
}

.lbtxt {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1226px) {
  .lbtxt {
    font-size: 14px;
    top: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .lbtxt {
    font-size: 18px;
  }
}

.imageContainer {
  background: #b5664c;
}

.imageContainer:hover img {
  opacity: 0.5;
  transition: opacity 500ms;
  cursor: pointer;
}

.imageContainer:hover p {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imageContainer p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: none;
  opacity: 1;
  z-index: 10;
}

.imageContainer span {
  border-top: 1px solid white;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  display: inherit;
  opacity: inherit;
}
@media only screen and (max-width: 1700px) {
  .imageContainer p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1280px) {
  .imageContainer p {
    font-size: 14px;
  }
}
