@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

@font-face {
  font-family: 'Freeland';
  src: url('/fonts/freeland.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


.body, p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
h2 {
  font-size: 24px;
}
img.dyn {
  max-width: 100%;
}
img.maxHeight {
  max-height: 95vh;
}
.spacer10px {
  width: 100%;
  height: 10px;
}
.spacer20px {
  width: 100%;
  height: 20px;
}
.spacer25px {
  width: 100%;
  height: 25px;
}
.spacer50px {
  width: 100%;
  height: 50px;
}
.pad8px {
  padding: 8px;
}
.ju {
  text-align: justify;
}
.invisible {
  display: none;
}
table.mainMeas td {
  padding: 10px;
}
.navMenu li {
  display: inline-block;
  padding: 50px 20px;
}
.navMenu li a {
  color: #000000;
  text-decoration: none;
}
.navMenu li a:hover {
  color: #000000;
  /* color: #989898; */
  text-decoration: underline;
}
.menu {
  color: #000000;
  text-decoration: none;
}
.menu:hover {
  color: #000000;
  /* color: #989898; */
  text-decoration: underline;
}
.dropdown button {
  color: #000000;
  text-decoration: none;
}
.dropdown button:hover {
  color: #000000;
  text-decoration: underline;
}
.capitalLetters {
  text-transform: uppercase;
}
.ce {
  text-align: center;
}
.marginAuto {
  margin: auto;
}
.padtop10px {
  padding-top: 10px;
}
.padtop43px {
  padding-top: 43px;
}
.padtop50px {
  padding-top: 50px;
}
.spacer200px {
  width: 100%;
  height: 200px;
}
.noBorder {
  border: 0 !important;
}
#productContainer {

}
.email_newsletter input {
  color: #000000;
  border: 0;
  outline: 0;
  background: transparent;
  padding: 10px;
  border: 1px solid #ede0d8;
  width: 100%;
}
.email_newsletter input:focus {
  border: 1px solid #000000;
}
.email_newsletter button {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  -webkit-box-shadow: 0 1px 0px rgba(255,255,255,0.1) inset, 0 0px 1px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 1px 0px rgba(255,255,255,0.1) inset, 0 0px 1px rgba(0,0,0,0.7);
	box-shadow: 0 1px 0px rgba(255,255,255,0.1) inset, 0 0px 1px rgba(0,0,0,0.7);

	background: rgba(0,0,0,1); /* #191919 */
	border: 1px solid #141414;
	padding: 10px 25px;
}
.email_newsletter button:hover {
	background: rgba(0,0,0,0.8); /* #101010 */
}
.smallFont {
  font-size: 12px;
}
.smallFont2 {
  font-size: 11px;
}
.mediumFont {
  font-size: 14px;
}
.blackFont, a.blackFont, .blackFont a {
  color: #000000;
  text-decoration: none;
}
a.blackFont:hover, blackFont a :hover {
  color: #000000;
  text-decoration: underline;
}
.cImage {
  background: #b5664c;
}
.cImage:hover {
}
.cImageHovered img {
  opacity: 0.5;
  transition: opacity 500ms;
  cursor: pointer;
  z-index: -10;
}
.cImage p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: none;
  opacity: 1;
  z-index: 10;
}
.cImage span {
  border-top: 1px solid white;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  display: inherit;
  opacity: inherit;
}
.cImage:hover p {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lbtxtContainer {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 350px;
}
.lbtxt {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#dropdown-custom-components {
  background: none;
  color: black;
  border: 0 !important;
  outline: none !important;
}
select#chooseSize {
  color: #000;
  text-decoration: none;
  margin-right: 10px;
  -webkit-box-shadow: 0 1px 0px rgba(255,255,255,0.1) inset, 0 0px 1px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 1px 0px rgba(255,255,255,0.1) inset, 0 0px 1px rgba(0,0,0,0.7);
	box-shadow: 0 1px 0px rgba(255,255,255,0.1) inset, 0 0px 1px rgba(0,0,0,0.7);

	background: rgba(0,0,0,0); /* #191919 */
	border: 1px solid #141414;
	padding: 10px 25px;
  border-radius: 0px;
  outline: none;
}
select#chooseSize:hover {
  font-weight: bold;
  cursor: pointer;
}
.productInfoContainer {
  width: 95%;
  margin: auto;
  padding: 5px 10px 5px 10px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.leftPadAddCartButton {
  padding: 5px;
}
.left {
  text-align: left;
}
.pointer {
  cursor: pointer;
}
.logo {
  padding-top: 3px;
  width: 168px;
  height: 75px;
}
.logoMain {
  padding-top: 3px;
  width: 240px;
  height: 107px;
}
.ourStory {
  width: 100%;
  height: auto;
}
.loginEmail {
  width: 360px;
  padding: 8px;
  font-size: 18px;
  text-align: center;
}
.userDetails {
  width: 360px;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  margin: auto;
}
.dBorder {
  border-color: #b0644f;
  box-shadow: #b0644f;
}
.dropdown .dropdown-menu{
  display: block;
  opacity:0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
 }
.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
}
.noPadding {
  padding: 0;
}
.dropdown .btn {
  vertical-align: null;
}
.right {
  text-align: right;
}
.form-control:focus {
  border-color: #ff80ff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
}
.navCart a:hover {
  font-weight: bold;
  text-decoration: none;
}
.hidePaypal {
  display: none;
}
.showPaypal {
  display: block;
}
.cartIconContainer {
  height: 100%;
  width: 100%;
  position: relative;
  border: none;
}
.cartIconContainer .vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
table.cartCo {
  margin: auto;
  min-width: 500px;
}
.cartCo td{
  min-width: 50px;
  width: 120px;
  text-align: center;
}
.startshoppingButton {
  font-size: 18px;
  padding: 5px;
  font-weight: normal;
  text-decoration: none !important;
  background-color: #ffffff;
  border: 2px solid black;
  color: #000;
  width: 260px;
  height: 50px;
}
.startshoppingButton:hover {
  font-weight: bold;
}
.cartButton {
  font-size: 18px;
  padding: 5px;
  font-weight: normal;
  background-color: #b0644f;
  border: 0px;
  color: #fff;
  width: 240px;
  height: 50px;
}
.cartButton:hover {
  font-size: 18px;
  padding: 5px;
  font-weight: bold;
  background-color: #b0644f;
  border: 0px;
  color: #fff;
  width: 240px;
  height: 50px;
}
.sizeButton {
  border: 1px solid #000000;
}
select.sizeButton {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select.sizeButton::-ms-expand {
  display: none;
}
.w500 {
  width: 500px;
}
.maxWidth, .maxWidth table {
  width: 100%;
}
.noPadLeft {
  padding-left: 0px;
}
.paddingtop5px {
  padding-top: 15px;
}
#fadeNone {
  visibility: hidden;
}
#fadeIn img {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
.desktopNav {
  display: block;
}
#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}
.tabNav {
  display: none;
}
.mobileNav {
  display: none;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@media only screen and (max-width: 1700px) {
  .cImage p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1280px) {
  .cImage p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1226px) {
  .desktopNav {
    display: none;
  }
  .tabNav {
    display: block;
  }
  .mobileNav {
    display: none;
  }
  .lbtxt {
    font-size: 14px;
    top: 40%;
  }
  .ceMob {
    text-align: center;
  }
  .startshoppingButton, .cartButton {
    width: 180px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .desktopNav {
    display: none;
  }
  .tabNav {
    display: none;
  }
  .mobileNav {
    display: block;
  }
  .lbtxt {
    font-size: 18px;
  }
  .nlsb {
    margin-top: 25px;
  }
  .inl {
    padding: 5px;
  }
  .inl img {
    width: 140px;
    height: 140px;
  }
  .startshoppingButton, .cartButton {
    width: 240px;
    font-size: 18px;
  }
  .cl {
    clear: both;
  }
  table.cartCo {
    margin: auto;
    min-width: 300px;
  }
  .cartCo td{
    min-width: 50px;
    width: 60px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #banner {
    font-size: 1em;
    font-weight: bold;
  }
}


[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {
  height: auto;
}
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.blur-divs-after ~ div {
  filter: blur(5px);
}
